.group:after {
  content: "";
  display: table;
  clear: both;
}

.dgu-container {
	border: 1px solid #DDD;
	padding: 10px;
	background-color: white;
	position: relative;
}

.dgu-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: white;
	opacity: 0.5;
	display: none; /*inline*/
	left: 0;
	top: 0;
	z-index: 1;
}

.dgu-loading {
	position: absolute;
	display: none; /*inline*/
	left: 50%;
	top: 50%;
	background-color: white;
	z-index: 2;
	padding: 10px 30px;
	box-shadow: 1px 1px 1px #888888;
	border: 1px solid #CCC;
}

.dgu-loading span {
	padding-left: 10px;
}

/*---------------- Table ----------------------*/
.dgu-table {
	border: 1px solid #999;
	table-layout: fixed;
	width: 100%;
}

.dgu-table-body {
	border-top: 3px solid white;
}

.dgu-table th, .dgu-table td {
	overflow: hidden;
}

.dgu-moveable:hover {
	/*cursor:move;*/
}

.dgu-col-header:hover {
	background: linear-gradient(rgb(141, 141, 141) 40%, rgb(100,100,100) 60%) !important;
}

.dgu-col-header th {
	overflow: hidden;
	white-space: nowrap;
	background: linear-gradient(rgb(141, 141, 141) 40%, rgb(100,100,100) 60%);
	text-align: left;
	font-size: 15px;
	border-left: 1px solid white;
	border-right: 1px solid white;
	color: white;
	padding: 2px 5px !important;
	font-family: Arial, Helvetica, sans-serif;
}

.dgu-col-header th:first-child {
	/*border-left: none;*/
}

.dgu-table-selectable tr {
	cursor: pointer;
	/* overflow: hidden; */
}

.dgu-table-body tr:nth-child(even) {
	background: #FFF;
}

.dgu-table-body tr:nth-child(odd) {
	background: #EEE;
}

.dgu-table-selectable tr:hover {
	background-color: #fff5a8;
}

.dgu-table-body tr.dgu-selected{
	background-color: #0067b1;
	color: white;
}

.dgu-table-body td{
	padding: 3px 5px !important;
	overflow : hidden;
	white-space : nowrap;
	font: 12.5px/1.1 Arial, Helvetica, sans-serif;
}

.dgu-table-body td {
	border-left: 1px solid #CCC;
	height: 22px;
}

.dgu-table-body td:first-child {
	border-left: none;
}

.dgu-placeholder {
	display: inline !important;
}

.dgu-moveable:active {
	
}

.dgu-table > .mx-datagrid-sort-icon {
	cursor: pointer;
}

/* -------------- Search Bar --------------- */
.dgu-search-bar {
	background-color: #EEE;
	border: 1px solid #DDD;
	margin-bottom: 10px;
}

.dgu-search-controls {
	float: right;
	margin-right: 5px;
}

.dgu-search-controls button {
	font-weight: bolder;
	margin: 5px 3px;
	width: 70px;
}

.dgu-search-box {
	float: left;
	padding: 5px 10px;
	display: flex;
}

.dgu-search-box {
	font-size: 12px !important;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
	color: black !important;
	width: 300px;
}

.dgu-search-box label {
	padding-right: 5px;
	padding-top: 0;
	margin-top: auto;
	margin-bottom: auto;
	width: 100px;
	min-width: 100px;
	text-align: right;
}

.dgu-null-box {
	padding: 0 0 0 2px !important;
	min-width: 38px !important;
	font-size: 10px;
	text-align: left !important;
	max-width: 45px;
}

.dgu-null-box input {
	vertical-align: bottom;
}

.dgu-search-box-select, .dgu-search-box-input {
	height: 28px;
	padding: 0 5px;
	margin-top: auto;
	width: auto;
	margin-bottom: auto;
}

.dgu-search-box button.ui-multiselect {
	margin-top: auto;
	margin-bottom: auto;
	height: 28px !important;
	border-radius: 0;
	border-color: #AAA !important;
	background: white/*linear-gradient(white, #EEE)*/;
	font: inherit !important;
}

.dgu-search-box .ui-multiselect span:not(.ui-icon) {
	margin-left: 5px;
}

.ui-multiselect-menu {
	width: 230px !important;
	font-size: 12px !important;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
	
}

.ui-multiselect-checkboxes input[type="checkbox"] {
	margin: 5px !important;
}

.ui-multiselect-menu .ui-widget-header {
	font-weight: normal !important;
}

/*------------- Control Bar --------------------*/
.dgu-control-bar {
	padding: 5px 5px 5px 0;
	margin-bottom: 5px;
}

.dgu-control-bar button:first-child{
	margin-left: 0;
}

.dgu-control-bar button{
	margin-right: 5px;
	margin-bottom: 5px;
}

/*--------------------- No Results --------------------*/
.dgu-no-results {
	padding: 10px;
}
.dgu-no-results-warn {
	padding-right: 20px;
}
/*--------------------- Paging --------------------*/
.dgu-top-paging {
	position : relative;
	float : right;
}

.dgu-top-paging button {
	border: none;
	background: none;
	padding-left: 5px !important;
	padding-right: 5px !important;
	text-align: center;
	margin: 0;
}

.dgu-top-paging span {
	font-size: 11px;
	margin-right: 5px;
	margin-left: 5px;
}

.dgu-bottom-paging {
	padding: 5px;
	border: 1px solid #CCC;
	margin-top: 5px;
}

.dgu-bottom-paging button {
	border: none;
	background: none;
	padding-left: 5px !important;
	padding-right: 5px !important;
	padding-top: 0 !important;
	text-align: center;
	margin: 0;
	margin-bottom: 2px;
}



.dgu-bottom-paging span {
	position: relative;
	font-size: 11px;
	float: right;
	margin-right: 5px;
	margin-left: 5px;
	padding-top: 7px;
}

.dgu-bottom-paging button > span {
	padding-top: 4px;
}

.dgu-bottom-paging label {
	font-size: 11px;
	margin-right: 5px;
	margin-left: 5px;
}

.dgu-bottom-paging input {
	font-size: 11px;
	width: 30px;
	text-align: center;
}

.dgu-bottom-paging select {
	font-size: 11px;
	width: 100px;
	float: right;
	margin-left: 5px;
	margin-top: 7px;
}

/* -------------- Header Context Menu ----------------*/
.dgu-h-ctxMenu {
	border	:	1px solid rgb(200,200,200) !important;
	background : linear-gradient(rgb(50,50,50),rgb(55,55,55));
	color: white !important;
	font-size: 13px;
}

.dgu-h-ctxMenu .dijitMenuArrowCell .dijitMenuExpand {
	border-left: 4px solid;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    float: left;
    height: 10px;
}

.dgu-h-ctxMenu .dijitMenuArrowCell {
	padding-right: 5px;
	padding-left: 5px;
}

/*Overwrite mendix style fix for check boxes*/
.dgu-h-ctxMenu .dijitCheckedMenuItemChecked .dijitMenuItemIconChar {
	display : initial;
	visibility: initial;
}

.dgu-h-ctxMenuItemLabel {
	padding: 5px 0 4px 0;
}
.dijitMenuPopup .dgu-h-ctxMenuItemLabel {
	font-size: 12px;

}

.dgu-h-ctxMenuItem {
	height: 23px !important;
}

.dgu-h-ctxMenuItem .dijitMenuItemIconCell {
	padding: 4px 7px 4px 6px;
}
